@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
input {
  text-align: center;
}
textarea:focus,
input:focus {
  outline: none;
}

body {
  height: 100vh;
  background-color: rgb(12, 12, 12);
  color: rgb(224, 224, 224);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.container {
  max-width: 700px;
  width: 100%;
  padding: 25px 30px;
  border-radius: 5px;
 
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}

.btn {
  background-color: rgb(190, 190, 190);
  border-radius: 8.3px;
}

.left-container {
  height: 30rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bees {
  width: 250px;
  height: 260px;
}
.plus-minus {
  height: 20px;
  width: 20px;
}

.input-nft {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-bees {
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-content: space-around;
  align-items: center;
  margin-top: -5%;
}

.right-input-bees {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.left-input-bees {
  margin: 15px;
}

.text-items {
  margin: 5px;
  font-size: small;
  font-weight: 650;
}

.items {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px;
}
.nft-value {
  width: 40px;
  height: 25px;
  padding: 6px;
  font-size: medium;
  font-weight: 550;
  border-radius: 4px;
}

/* <---------------------------------------------------------------------------------------------------------------------------------> */

.right-container {
  border: 2px solid whitesmoke;
  border-radius: 15px;
  height: 30rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.wrapper1 {
  height: 6rem;
  font-size: 0.9rem;
  font-weight: 550;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
}

.dollar{
  position: relative;
  margin-left: 19px;
  color: black;
  font-size: 18px;
  margin-right: -19px;
  border-radius: 3px;
  padding-right: -2px;
  background-color: aliceblue;
}

.rev-input {
  width: 5.5rem;
  height: 1.8rem;
  margin: 5px;
  padding: 2px;
  font-size: medium;
  font-weight: 550;
  border-radius: 4px;
  color: rgb(8, 8, 8);
  background-color: rgb(255, 255, 255);
  border: transparent;
}

.wrapper2 {
  margin: 5px;
  height: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: center;
}
.left-inv-text {
  width: 40%;
  height: 80%;
  margin-right: -10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.text-rev-state {
  display: flex;
  flex-direction: column;
}
.right-inv-text {
  border: 2px solid rgb(133, 133, 133);
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  width: 45%;
  height: 85%;
  margin: 20px;
  padding-top: 10px;
  overflow:hidden;
}

.wrapper3 {
  margin: 10px;
  height: 8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.left-rev {
  font-size: 1rem;
  font-weight: 500;
}
.text-rev {
  margin: 10px;
}
.right-rev {
  font-size: 1.01rem;
  font-weight: 550;
}

#subBtn {
    height: 40px;
    width: 85px;
    border-radius: 7px;
    margin-left: 35%;
}

@media (max-width: 584px) {
  
    .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    box-shadow: none;
  }

  .left-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    /* box-shadow: 0 5px 10px rgba(255, 255, 255, 0.15); */
  }
  .right-container {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    border: none;
  }
  
}
